<div class="whoAmIView">
 <div class="textView">
    <h1>KIM JESTEM?</h1>
    <div class="infotext">
      Nazywam sie Arkadiusz Erdukant i od
      roku fascynuję się programowaniem
      aplikacji internetowych.
      <br><br>
      Aktualnie jestem matrurzystą w
      Augustowskim Centrum Edukacyjnym
      na profilu informatycznym.
      <br><br>
      Po ukończeniu szkoły zamieżam pójść
      na studia zaoczne na kierunke
      informatyczny oraz pracować jako
      Front-End Developer, aby ciągle się
      rozwijać w swojej branży.
      <br><br>
      Uwielbiam pić yerbę mate słuchając
      utworów zespołu Queen, opowiadać
      suchary oraz oglądać filmy na YouTube.
    </div>
 </div>
</div>
